* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: grid;
    grid-template-columns: 15px 15px;
    gap: 15px;
    padding: 2px 0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    height: 30vh;
    width: 75vw;
}

legend {
    text-align: center;
}

label {
    font-size: 0.7em;
}

.book-info {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px;
    gap: 20px;
}

.book-title {
    grid-column: 1;
}

.author-name {
    grid-column: 1;
}

.book-info div {
    display: flex;
    flex-direction: column;
} 

